@media (max-width:376px){
  
  nav {
  display: flex;
  justify-content: space-between;
  color: #D6D6D6;
  font-size: 1.5rem;
}

/* Menu Icon and animation */

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #D6D6D6;
  margin: 6px 0;
  transition: 0.3s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 5px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-9px, -8px) ;
}

.dark {
  background-color: #343434;
  color: #343434;
}

.nav-header {
  background-color: transparent;
}

.header-name, .subtitle {
  background-color: transparent;
}

.nav-header, .menu-icon {
  z-index: 3;
  background-color: transparent;
}

.header-name, .menu-icon {
  margin: 0.75rem 0.75rem 0 0.75rem;
  margin-bottom: 0;
}

.subtitle {
  margin-right: 1rem;
  opacity: 0.7;
  text-align: end;
  }
}

@media (min-width: 376px) {
  
  nav {
      display: flex;
      justify-content: space-between;
      color: #D6D6D6;
      margin: 0 1.25rem 1.5rem;
      font-size: 4rem;
    }
    
    /* Menu Icon and animation */
    
    .bar1, .bar2, .bar3 {
      width: 60px;
      height: 8px;
      background-color: #D6D6D6;
      margin: 10px 0;
      transition: 0.3s;
    }
    
    /* Rotate first bar */
    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-18px, 15px) ;
    }
    
    /* Fade out the second bar */
    .change .bar2 {
      opacity: 0;
    }
    
    /* Rotate last bar */
    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-9px, -8px) ;
    }
    
    .dark {
      background-color: #343434;
      color: #343434;
    }
    
    .nav-header {
      background-color: transparent;
    }
    
    .header-name, .subtitle {
      background-color: transparent;
    }
    
    .nav-header, .menu-icon {
      z-index: 3;
      background-color: transparent;
    }
    
    .header-name, .menu-icon {
      margin: 0.75rem 0.75rem 0 0.75rem;
      margin-bottom: 0;
    }
    
    .subtitle {
      margin-right: 1rem;
      opacity: 0.7;
      text-align: end;
      }
    
}